* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3d3d3d;
  background-image: linear-gradient(
    270deg,
    #2b2b2b 0%,
    #3d3d3d 50%,
    #2b2b2b 100%
  );
  min-height: 100vh;
  color: white;
  font-family: "Roboto", sans-serif;
}

input,
textarea {
  /*appearance: none;*/
  outline: none;
  border: none;
  background-color: transparent;
}

label {
  font-size: 14px;
  font-weight: 300;
  color: black;
  margin-top: 20px;
}

.modal-bg {
  display: none;
  height: 100%;
  width: 100%;
  background-color: #3d3d3d;
  opacity: 0.8;
  background-image: linear-gradient(
    270deg,
    #2b2b2b 0%,
    #3d3d3d 50%,
    #2b2b2b 100%
  );
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.top-nav {
  background-color: #474747;
  color: white;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-item {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  min-width: 20rem;
}

.nav-item:nth-child(1) {
  justify-content: flex-start;
}

.nav-item:nth-child(2) {
  justify-content: center;
}

.nav-item:last-child {
  justify-content: flex-end;
}

.home-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
  user-select: none;
}

.home-btn:hover {
  scale: 1.02;
}

.search-container {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
}

.search-input {
  border: none;
  border-radius: 5px 0px 0px 5px;
  color: black;
  height: 2rem;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: white;
}

.search-input::placeholder {
  color: black;
}

.search-btn {
  border: none;
  border-radius: 0px 5px 5px 0px;
  background-color: white;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  user-select: none;
}

.search-btn:hover {
  background-color: #202020;
  color: rgb(0, 209, 209);
}

.bi-search {
  width: 2.5rem;
  height: 2.5rem;
  pointer-events: none;
}

.profile-btn {
  border: none;
  background-color: #474747;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 2.2rem;
  color: white;
}

.profile-btn:hover {
  color: rgb(0, 209, 209);
}

.bi-person-circle {
  background: transparent;
  pointer-events: none;
}

.tabs-container {
  min-height: 2rem;
  background-color: white;
  border: none;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  align-items: flex-end;
}

.tab-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 1.5rem;
  list-style: none;
  max-width: 90%;
  list-style-type: none;
  gap: 1rem;
}

.tab {
  display: flex;
  align-items: center;
  user-select: none;
  color: black;
  border: none;
  font-size: 1rem;
  padding: 0.4rem 0.4rem 0.1rem 1rem;
  border-radius: 12px 12px 0px 0px;
  margin-right: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.tab:hover {
  box-shadow: rgba(31, 31, 31, 0.3) inset 0 0 100px 50px;
  color: white;
}

.tab:nth-child(even) {
  background-color: #f28b82;
}
.tab:nth-child(odd) {
  background-color: #8ab4f8;
}

.tab.active {
  background-color: #fbbc04;
  color: white;
}

.tab-delete-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  margin-left: 0.25rem;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-delete-btn:hover {
  background-color: #8e8e8e;
}

.tab-fall {
  transform: translateY(0.75rem);
  opacity: 0;
  transition: all 0.5s ease;
}

.bi-x {
  pointer-events: none;
  user-select: none;
}

.add-tab-btn {
  border: none;
  background-color: #474747;
  border-radius: 12px;
  margin-bottom: 1px;
  width: 1.4rem;
  height: 1.4rem;
  cursor: pointer;
  font-size: 1rem;
  color: white;
}

.add-tab-btn:hover {
  color: rgb(0, 209, 209);
  background-color: #545454;
}

.bi-plus {
  pointer-events: none;
  user-select: none;
}

.add-tab-container {
  width: 500px;
  height: 275px;
  background-color: #9f9f9f;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px 50px;
  border-radius: 5px;
  display: none;
  justify-content: center;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  z-index: 9;
}

.close-add-tab-btn {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  color: black;
  cursor: pointer;
}

.add-tab-form {
  display: flex;
  flex-direction: column;
}

.add-tab-text {
  font-size: 20px;
  color: black;
}

.add-tab-name {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid black;
  background-color: white;
  border-radius: 5px;
}

.add-tab-name::placeholder {
  color: rgb(83, 82, 82);
}

.add-tab-submit {
  background-image: linear-gradient(
    270deg,
    rgb(0, 209, 209) 0%,
    rgb(17, 245, 245),
    rgb(0, 209, 209) 100%
  );
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
}

.add-tab-submit:hover {
  border: 2px solid black;
}

.todo-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

.add-todo-btn {
  border: 1px solid white;
  background-color: #474747;
  border-radius: 5px;
  width: 7rem;
  height: 7rem;
  font-size: 6.8rem;
  cursor: pointer;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
}

.add-todo-btn:hover {
  color: rgb(0, 209, 209);
  background-color: #545454;
}

.add-todo-container {
  width: 500px;
  height: 575px;
  background-color: #9f9f9f;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px 50px;
  border-radius: 5px;
  display: none;
  justify-content: center;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  z-index: 9;
}

.close-add-todo-btn {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  color: black;
  cursor: pointer;
}

.add-todo-form {
  display: flex;
  flex-direction: column;
}

.add-todo-text {
  font-size: 20px;
  color: black;
}

.add-todo-check-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: -10px;
}

.add-todo-autofill {
  color: black;
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
  background-color: white;
  margin-top: 20px;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
}

.add-todo-autofill:hover {
  scale: 1.1;
}

.add-todo-link,
.add-todo-name,
.add-todo-desc {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid black;
  background-color: white;
  border-radius: 5px;
}

.add-todo-image {
  margin-top: 20px;
  border: none;
  color: black;
}

#add-todo-preview-img {
  display: none;
  margin-top: 5px;
  max-width: 90px;
  max-height: 50px;
  border-radius: 10px;
  aspect-ratio: 16/9;
  border: 1px solid black;
  object-fit: cover;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
}

#add-todo-preview-img:hover {
  scale: 2.75;
}

.add-todo-link,
.add-todo-name,
.add-todo-desc::placeholder {
  color: rgb(83, 82, 82);
}

.add-todo-submit {
  background-image: linear-gradient(
    270deg,
    rgb(0, 209, 209) 0%,
    rgb(17, 245, 245),
    rgb(0, 209, 209) 100%
  );
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 20px;
}

.add-todo-submit:hover {
  border: 2px solid black;
}

.todo-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  list-style-type: none;
  width: 100%;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: flex;
}

.todo {
  margin-top: 0.75rem;
  display: none;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  border-radius: 5px;
  width: 100%;
  height: 7rem;
}

.todo.active {
  display: flex;
}

.todo:hover {
  box-shadow: white inset 0 0 25px 0;
}

.todo-img {
  margin: 0.5rem;
  max-height: 6rem;
  aspect-ratio: 16/9;
  border-radius: 10px;
  border: 1px solid white;
  object-fit: cover;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
}

.todo-img:hover {
  transform: scale(1.2);
}

.todo-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 6rem;
  padding-right: 1rem;
}

.todo-name {
  padding-left: 0.5rem;
  margin-top: -1rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  width: 65%;
  user-select: none;
  cursor: pointer;
  height: 3rem;
}

.todo-desc {
  padding-left: 0.5rem;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: white;
  width: 75%;
  user-select: none;
  cursor: pointer;
  height: 1.5rem;
}

.todo-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-complete-btn {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 2.2rem;
  cursor: pointer;
  margin-right: 4rem;
}

.todo-complete-btn:hover {
  color: rgb(34, 218, 50);
}

.completed-btn {
  color: rgb(34, 218, 50);
}

.completed-btn:hover {
  color: crimson;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.bi-check-square {
  pointer-events: none;
}

.icon-completed {
  color: rgb(34, 218, 50);
}

.todo-settings-btn {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 2.2rem;
  cursor: pointer;
  margin-right: 4rem;
}

.todo-settings-btn:hover {
  color: rgb(0, 209, 209);
}

.settings-displayed {
  color: rgb(0, 209, 209);
}

.settings-displayed:hover {
  color: crimson;
}

.bi-gear {
  pointer-events: none;
}

.todo-settings-container {
  display: none;
  position: absolute;
  right: 5.75%;
  margin-top: 4.4rem;
  flex-direction: column;
  background-color: #9f9f9f;
  font-size: 1rem;
  width: 6rem;
  height: 2rem;
  border-radius: 5px;
}

.edit-todo-text-btn,
.move-todo-btn {
  border: 1px solid black;
  background-color: none;
  cursor: pointer;
  user-select: none;
  height: 1rem;
  color: black;
}

.edit-todo-text-btn {
  border-radius: 5px 5px 0 0;
}

.move-todo-btn {
  border-radius: 0 0 5px 5px;
}

.todo-delete-btn {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 2.2rem;
  cursor: pointer;
  margin-right: 4rem;
}

.todo-delete-btn:hover {
  color: red;
}

.todo-fall {
  scale: 0.5;
  opacity: 0;
  transition: all 0.5s ease;
}

.bi-trash3 {
  pointer-events: none;
}
